@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: #333;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'NEXON Lv1 Gothic OTF';
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 게임시작 전용 폰트 */
@font-face {
    font-family: 'GongGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}