@charset "UTF-8";

body {
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

nav a img {
    margin-left: 15px;
}

nav #mobile_menu {
    display: none;
}

nav .menu {
    width: 50%;
    display: flex;
}

nav .menu li {
    width: 100%;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

nav .menu li a {
    color: #99a4c6;
}

nav .menu .sub_menu {
    background-color: #000;
    display: none;
    z-index: 2;
}

nav .login_start {
    display: flex;
    align-items: center;
}

nav .login_start span {
    font-size: 19px;
    color: #7fa0ff;
}

nav .login_start i {
    font-size: 20px;
    margin-right: 10px;
    color: #7fa0ff;
}

nav .login_start a:hover span,
nav .login_start a:hover i {
    color: #b579ff;
}

nav .login_start img {
    cursor: pointer;
    margin-left: 20px;
}

nav button {
    width: 230px;
    height: 60px;
    margin-left: 30px;
    cursor: pointer;
    border: none;
    transition: all 0.25s ease-out;
    color: #fff;
    font-size: 38px;
    letter-spacing: 1px;
    background-color: #7fa0ff;
    font-family: 'GongGothicBold';
    font-style: italic;
}

nav button:hover {
    box-shadow: 230px 0 0 0 #b579ff inset;
}

#background {
    width: 100%;
    height: 600px;
    background-image: url(../img/sub/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 60px;
}

.flower span {
    width: 100%;
    position: absolute;
    transition-duration: 6500ms;
}

.flower1 img {
    position: absolute;
    top: -250px;
    right: 10%;
    animation: flower1 20s infinite ease-in-out;
}

.flower2 img {
    position: absolute;
    top: -200px;
    right: -5%;
    animation: flower2 18s infinite ease-in-out;
}

.flower3 img {
    position: absolute;
    top: -100px;
    right: 5%;
    animation: flower3 15s infinite ease-in;
}

.flower4 img {
    position: absolute;
    top: -120px;
    right: -20%;
    animation: flower4 14s infinite ease-in;
}

.flower5 img {
    position: absolute;
    top: -200px;
    right: 20%;
    animation: flower5 10s infinite ease-in;
}

.flower6 img {
    position: absolute;
    top: -300px;
    right: 50%;
    animation: flower6 15s infinite ease-in;
}

.flower7 img {
    position: absolute;
    top: -100px;
    right: -20%;
    animation: flower7 18s infinite ease-in;
}

.flower8 img {
    position: absolute;
    top: -120px;
    right: -5%;
    animation: flower8 18s infinite ease-in;
}

.flower9 img {
    position: absolute;
    top: -230px;
    right: 12.5%;
    animation: flower9 19s infinite ease-in;
}

.flower10 img {
    position: absolute;
    top: -150px;
    right: -4%;
    animation: flower10 20s infinite ease-in;
}

@keyframes flower1 {
    100% {
        transform: translateX(-5000%) translateY(2500%) rotate(180deg);
    }
}

@keyframes flower2 {
    100% {
        transform: translateX(-5000%) translateY(2200%) rotate(20deg);
    }
}

@keyframes flower3 {
    100% {
        transform: translateX(-2000%) translateY(1200%) rotate(90deg);
    }
}

@keyframes flower4 {
    100% {
        transform: translateX(-3500%) translateY(2200%) rotate(90deg);
    }
}

@keyframes flower5 {
    100% {
        transform: translateX(-3500%) translateY(2200%) rotate(90deg);
    }
}

@keyframes flower6 {
    100% {
        transform: translateX(-1000%) translateY(1200%) rotate(240deg);
    }
}

@keyframes flower7 {
    100% {
        transform: translateX(-5000%) translateY(2500%) rotate(180deg);
    }
}

@keyframes flower8 {
    100% {
        transform: translateX(-5000%) translateY(2500%) rotate(20deg);
    }
}

@keyframes flower9 {
    100% {
        transform: translateX(-5000%) translateY(2500%) rotate(180deg);
    }
}

@keyframes flower10 {
    100% {
        transform: translateX(-5000%) translateY(2500%) rotate(180deg);
    }
}

.blank_space {
    width: 100%;
    height: 360px;
    margin: 0 auto;
}

.game_info_box {
    width: 1120px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: -260px;
    background-color: #fff;
    padding: 40px;
}

.cover img {
    width: 200px;
    height: 280px;
    float: left;
}

.info_text {
    width: 720px;
    height: 100%;
    margin-left: 40px;
    float: left;
}

.info_text h2 {
    font-family: 'GongGothicBold';
    font-size: 34px;
    line-height: 1.2;
}

.info_text h3 {
    color: #999;
    margin-bottom: 10px;
    font-weight: 300;
}

.info_text span {
    background-color: hsl(220deg 13% 95%);
    color: #96c7e9;
    font-size: 12px;
    font-weight: 300;
    padding: 2px 5px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.info_text p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #666;
}

.info_text ul {
    margin-top: 20px;
}

.info_text li {
    margin-bottom: 10px;
}

.info_text li i {
    margin-right: 10px;
    color: #96c7e9;
}

.sns {
    width: 60px;
    height: 240px;
    float: right;
}

.sns i {
    font-size: 50px;
    margin: 5px 10px;
    cursor: pointer;
}

.sns i:hover {
    opacity: 0.8;
}

article {
    width: 100%;
    height: 1900px;
    margin: 0 auto;
    background-color: #f2f3f5;
    position: relative;
    z-index: -1;
}

.tab {
    width: 35%;
    height: 50px;
    margin: 0 auto;
    position: absolute;
    top: 250px;
    left: 32.5%;
    display: flex;
    justify-content: space-evenly;
}

.tab span {
    font-size: 18px;
}

.overview {
    position: absolute;
    top: 350px;
    width: 65%;
    height: auto;
    left: 17.5%;
}

.overview h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.overview p {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #666;
}

.overview h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.overview .shot {
    display: flex;
    justify-content: space-around;
}


footer {
    width: 100%;
    height: 220px;
    margin: 0 auto;
}

footer #contain {
    width: 65%;
    height: 220px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 4px solid #f2f2f2;
}

footer h2 {
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}

footer h2 a {
    color: #666;
}

footer address {
    margin-left: 1%;
    font-size: 11px;
    letter-spacing: 0.5px;
    font-style: normal;
}

footer address span {
    margin-right: 10px;
    color: #999;
}

footer h3 {
    margin-left: 1%;
    font-size: 11px;
    color: #999;
    letter-spacing: 0.5px;
}

.footer_logo {
    margin: 1%;
    display: flex;
    align-items: center;
}

.footer_logo img {
    margin-right: 10%;
}